@model SGMatriculasMaestria.Models.Matricula
@inject SGMatriculasMaestria.Data.ApplicationDbContext _dbcontext

@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



   <h1 class="text-center">Nueva Matrícula</h1>
    
    <hr />

    <div class="container-fluid">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xl-6">
                        <div class="form-group">
                            <label asp-for="Maestria.Facultad.Nombre" class="control-label"></label>
                            <select asp-for="Maestria.Facultad.Id" asp-items="@(new SelectList(ViewBag.Facultades,"Id","Nombre"))" id="FacultadesSelect" class="form-control">
                                <option value="">-- Seleccione una Facultad --</option>
                            </select>
                            <span asp-validation-for="Maestria.Facultad.Nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xl-6">
                        <div class="form-group">
                            <label asp-for="Maestria.Titulo" class="control-label"></label>
                            <select asp-for="Maestria.Id" id="MaestriasSelect" class="form-control">
                                <option value="">-- Seleccione una Maestria --</option>
                            </select>
                            <span asp-validation-for="Maestria.Titulo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="FechaInicio" class="control-label"></label>
                            <input id="matriculafechaini" max="Date.Now()" asp-for="FechaInicio" class="form-control" value="" onchange="checkdateini()" />
                            <span id="msgerror" class="text-danger d-none">Fecha de inicio debe ser mayor a la Fecha actual</span>
                            <span asp-validation-for="FechaInicio" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <span id="msgerrorfin" class="text-danger d-none">Fecha de fin debe ser mayor a la Fecha de inicio</span>
                        <div class="form-group">
                            <label asp-for="FechaCulminacion" class="control-label"></label>
                            <input id="matriculafechafin" asp-for="FechaCulminacion" class="form-control" value="" onchange="checkdatefin()" />
                            <span asp-validation-for="FechaCulminacion" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="Aspirante.CI" class="control-label"></label>
                            <input asp-for="Aspirante.CI" class="form-control" />
                            <span asp-validation-for="Aspirante.CI" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="MotivoSolicitud" class="control-label"></label>
                            <textarea type="text" asp-for="MotivoSolicitud" class="form-control"></textarea>
                            <span asp-validation-for="MotivoSolicitud" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="AnnoExperienciaLaboral" class="control-label"></label>
                            <input asp-for="AnnoExperienciaLaboral" class="form-control" />
                            <span asp-validation-for="AnnoExperienciaLaboral" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="FechaMatricula" class="control-label"></label>
                            <input asp-for="FechaMatricula" class="form-control" />
                            <span asp-validation-for="FechaMatricula" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xl-4">
                        <div class="form-group">
                            <label asp-for="CategDocente" class="control-label">Categoría Docente</label>
                            <select asp-for="CategDocente.Id" asp-items="@(new SelectList(ViewBag.CategoriasDocentes,"Id","Nombre"))" id="CatDocSelect" class="form-control">
                                <option value="">-- Seleccione una Categoría Docente --</option>
                            </select>
                            <span asp-validation-for="CategDocente.Nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xl-4">
                        <div class="form-group">
                            <label asp-for="SecretarioPostg" class="control-label"></label>
                            <select asp-for="SecretarioPostg.Id" asp-items="@(new SelectList(ViewBag.SecretarioPost,"Id","Nombre"))" id="SecretarioSelect" class="form-control">
                                <option value="">-- Seleccione un Secretario de Postgrado --</option>
                            </select>
                            <span asp-validation-for="SecretarioPostg.Nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xl-4">
                        <div class="form-group">
                            <label asp-for="CentroTrabajo" class="control-label"></label>
                            <select asp-for="CentroTrabajo.Id" asp-items="@(new SelectList(ViewBag.CentrosTrabajo,"Id","Nombre"))" id="SecretarioSelect" class="form-control">
                                <option value="">-- Seleccione un Centro de trabajo --</option>
                            </select>
                            <span asp-validation-for="CentroTrabajo.Nombre" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Agregar" class="btn btn-info" />
                    <a asp-action="Index" class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">Regresar al listado</span>
                    </a>
                </div>
                <div>
                   
                </div>
            </div>
        </form>        
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
