<li class="nav-item">
    <!--<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#usuarios"-->
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#usuarios"
       aria-expanded="true" aria-controls="usuarios">
        <i class="fas fa-fw fa-users"></i>
        <span>Usuarios</span>
    </a>
    <!--<div id="usuarios" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">-->
    <div id="usuarios" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" asp-area="" asp-controller="Usuarios" asp-action="Index">
                <span>Lista de Usuarios</span>
            </a>
            <a class="collapse-item" asp-area="" asp-controller="Usuarios" asp-action="Create">
                <span>Crear Usuario</span>
            </a>
        </div>
    </div>
</li>