@model IEnumerable<SGMatriculasMaestria.Models.Aspirante>

@{
    ViewData["Title"] = "Aspirantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content-fluet">
    <div class="row">
        <div class="col-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-normal">Gráfica de aspirantes por sexo</h6>
                </div>
                <div class="card-body">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-normal">Gráfica de aspirantes porprovincia</h6>
                </div>
                <div class="card-body">
                    <canvas id="provincia-chart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


















        @section scripts
{
            <script src="~/lib/chart.js-3.6.0/package/dist/chart.js"></script>

            <script>
                /*window.onload = function () {
                    var ctx = document.getElementById("myChart").getContext("2d");
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                            datasets: [
                                {
                                    label: "My First dataset",
                                    data: [1, 2, 3, 2, 1, 2, 3, 4, 5, 4]
                                }
                            ]
                        },
                        options: {
                            responsive: false
                        }
                    });
                }*/
            </script>


            <script>
                /*
                 *  OK

                window.onload = function () {
                    var ctx = document.getElementById("myChart").getContext("2d");
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                            datasets: [
                                {
                                    label: "My First dataset",
                                    data: [1, 2, 3, 2, 1, 2, 3, 4, 5, 4]
                                }
                            ]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                        }
                    });
                }*/
                
                

                $(document).ready(function () {

                    $.ajax({
                        url: "/Reportes/GraficaPorSexo",
                        type: 'POST',
                        dataType: 'json',
                        //data: { search: request.term },
                        success: function (data) {
                                                      
                            const ctx = document.getElementById('myChart').getContext('2d');
                            const myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: [`Mujeres (${data.mujeres})`, `Hombres (${data.hombres})`],
                                    datasets: [{
                                        label: 'Aspirantes por sexo',
                                        data: [data.mujeres, data.hombres],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });

                        }
                    });





                    $.ajax({
                        url: "/Reportes/GraficaPorSexo",
                        type: 'POST',
                        dataType: 'json',
                        //data: { search: request.term },
                        success: function (data) {

                            const ctx = document.getElementById('myChart').getContext('2d');
                            const myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: [`M`, `H`],
                                    datasets: [{
                                        label: 'Aspirantes por sexo',
                                        data: [0, 0],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });

                        }
                    });



                    

                  


                });
                

                

            </script>



}
