@model SGMatriculasMaestria.Models.Pais

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">Estás seguro de eliminar esto?</h3>
<div>
    <hr />
    <div class="alert-danger">
        <table id="example1" class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>Nombre</th>
                </tr>
                <tr>
                    <td> @Html.DisplayFor(modelItem => Model.Nombre)</td>
                </tr>
            </tbody>

        </table>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />&nbsp;&nbsp;&nbsp;
        <a asp-action="Index" class="btn btn-secondary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span class="text">Regresar al listado</span>
        </a>
    </form>
</div>
