@model SGMatriculasMaestria.DTOs.UserDto;

@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Editar Usuario</h1>
<hr />
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="text-danger text-center">
        <h3>@ViewBag.ErrorMessage</h3>
    </div>
    <hr />
}


<div class="container-fluid">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="LastNameTwo" class="control-label"></label>
                    <input asp-for="LastNameTwo" class="form-control" />
                    <span asp-validation-for="LastNameTwo" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="CI" class="control-label"></label>
                    <input asp-for="CI" class="form-control" maxlength="11" />
                    <span asp-validation-for="CI" class="text-danger"></span>
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Role" class="control-label"></label>
                    <select asp-for="Role" asp-items="@(new SelectList(ViewBag.Roles,"Name","Name"))" class="form-control">
                        <option value="">-- Seleccione el rol --</option>
                    </select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="row">
            <!--<div class="col-2">
        <div class="form-group">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Cambiar Contraseña
            </label>
        </div>
    </div>-->

            <div class="col-2">
                <div class="form-group">
                    <label class="form-check-label" for="gridCheck">
                        Cambiar Contraseña
                    </label>
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                </div>
            </div>


            <div class="col-5">
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input disabled asp-for="Password" class="form-control  user-password" id="user-password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="col-5">
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input disabled asp-for="ConfirmPassword" class="form-control user-password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-info" />&nbsp;&nbsp;&nbsp;
            <a asp-action="Index" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text">Regresar al listado</span>
            </a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#gridCheck').change(function (event) {
                if ($('#gridCheck').prop('checked')) {
                    $("input.user-password").prop("disabled", false);
                } else {
                    $("input.user-password").prop("disabled", true);
                }
            });            
        });        
    </script>
    
}

